<h2>Welcome to Employee Reinbursment Portal</h2>
<h3 class="left" id="status-header"></h3>
        <table id="Tickets-tbl">
            <thead>
                <th>Ticket Id</th>
                <th>Ticket Name</th>
                <th>Description</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Ticket Creation Date</th>
                <th>Ticket Resolution Date</th>
                <th>Employee</th>
                <th>Finance Manager</th>
                <th>Status</th>
                <th>Photo</th>
            </thead>
        <tbody>
    <tr *ngFor="let ticket of tickets">
        <td>{{ticket.id}}</td> 
        <td>{{ticket.ticketName}}</td>
        <td>{{ticket.description}}</td>
        <td>{{ticket.type}}</td>
        <td>{{ticket.amount}}</td>
        <td>{{ticket.createTime}}</td>
        <td>{{ticket.resolutionTime}}</td>
        <td>{{ticket.employeeUserName}}</td>
        <td>{{ticket.financeManagerUserName}}</td>
        <td>{{ticket.status}}</td>
        <td>image</td>
    </tr></tbody>